/* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1440,18,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-xl|s-2xl&g=s,l,2xl,12 */

:root {
	--space-3xs: clamp(0.25rem, 0.2292rem + 0.0926vw, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4792rem + 0.0926vw, 0.5625rem);
	--space-xs: clamp(0.75rem, 0.7083rem + 0.1852vw, 0.875rem);
	--space-s: clamp(1rem, 0.9583rem + 0.1852vw, 1.125rem);
	--space-m: clamp(1.5rem, 1.4375rem + 0.2778vw, 1.6875rem);
	--space-l: clamp(2rem, 1.9167rem + 0.3704vw, 2.25rem);
	--space-xl: clamp(3rem, 2.875rem + 0.5556vw, 3.375rem);
	--space-2xl: clamp(4rem, 3.8333rem + 0.7407vw, 4.5rem);
	--space-3xl: clamp(6rem, 5.75rem + 1.1111vw, 6.75rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.25rem, 0.1458rem + 0.463vw, 0.5625rem);
	--space-2xs-xs: clamp(0.5rem, 0.375rem + 0.5556vw, 0.875rem);
	--space-xs-s: clamp(0.75rem, 0.625rem + 0.5556vw, 1.125rem);
	--space-s-m: clamp(1rem, 0.7708rem + 1.0185vw, 1.6875rem);
	--space-m-l: clamp(1.5rem, 1.25rem + 1.1111vw, 2.25rem);
	--space-l-xl: clamp(2rem, 1.5417rem + 2.037vw, 3.375rem);
	--space-xl-2xl: clamp(3rem, 2.5rem + 2.2222vw, 4.5rem);
	--space-2xl-3xl: clamp(4rem, 3.0833rem + 4.0741vw, 6.75rem);

	/* Custom pairs */
	--space-s-l: clamp(1rem, 0.5833rem + 1.8519vw, 2.25rem);
	--space-s-xl: clamp(1rem, 0.2083rem + 3.5185vw, 3.375rem);
	--space-s-2xl: clamp(1rem, -0.1667rem + 5.1852vw, 4.5rem);
}
