/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1440,18,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-xl|s-2xl&g=s,l,2xl,12 */

:root {
	--step--2: clamp(0.6944rem, 0.6655rem + 0.1286vw, 0.7813rem);
	--step--1: clamp(0.8333rem, 0.7986rem + 0.1543vw, 0.9375rem);
	--step-0: clamp(1rem, 0.9583rem + 0.1852vw, 1.125rem);
	--step-1: clamp(1.2rem, 1.15rem + 0.2222vw, 1.35rem);
	--step-2: clamp(1.44rem, 1.38rem + 0.2667vw, 1.62rem);
	--step-3: clamp(1.728rem, 1.656rem + 0.32vw, 1.944rem);
	--step-4: clamp(2.0736rem, 1.9872rem + 0.384vw, 2.3328rem);
	--step-5: clamp(2.4883rem, 2.3846rem + 0.4608vw, 2.7994rem);
}
