---
title: Homepage
permalink: /
---

{% extends "layouts/base.njk" %}

{% block content %}
	{% set topics = collections.docs | groupby("data.topicTitle") %}
		{% for topic, items in topics %}
			<p><strong>{{ topic }}</strong></p>
			{% for item in items %}
				<a href="{{ item.page.url }}">{{ item.data.title }}</a>
			{% endfor %}
		{% endfor %}
{% endblock %}

